/**
 * CST-126 Blog project
 * style.css version 1.0
 * Program Author: Evan Wilson
 * Date: 10/9/2018
 * CSS style page for proper formatting of the website
 * References: https://codewithawa.com/posts/complete-user-registration-system-using-php-and-mysql-database
 * Site was used in initial development of application with many changes implemented.
 */

 * {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: #F8F8FF;
}

.header {
    width: 90%;
    margin: 50px auto 0px;
    color: white;
    background: #466ac6;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.footer {
    width: 90%;
    margin: 0px auto 0px;
    color: white;
    background: #466ac6;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

form, .content {
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;

    border-radius: 0px 0px 0px 0px;
}
.input-group {
    margin: 10px 100px 10px 100px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 300px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #466ac6;
    border: none;
    border-radius: 5px;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #f60010;
    color: #F60010;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
}
.success {
    color: #000000;
    background: #dff0d8;
    border: 1px solid #00E304;
    margin-bottom: 20px;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between

}
.center {
    text-align: center;
}

div.a {
    text-align: left;
}

div.b {
    text-align: right;
}

div.c {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}


